<h1 align='center'>Editar Tematica</h1>
<br>

<div align='center' style='width:70%;margin-left:auto;margin-right:auto'><!-- Div PDF -->

<div class="panel panel-default">

  <div class="panel-heading"><h1><small>Nova Tematica</small></h1></div>
  
	<div class="panel-body">
	
		<%= form_for @tematica do |f| %>
		
			<p>
    <%= f.label :tematica_titulo %><br/>
    <%= f.text_field :tematica_titulo %>
  </p>
  <p>
    <%= f.label :tematica_descricao %><br/>
    <%= f.text_area :tematica_descricao, :rows => 5 %>
  </p>
  <p><%= f.submit %></p>
		
		<% end %>
	
	</div>
  
  
</div>

<div> <!-- Div PDF END -->

<!-- HTML FORM

<div class="panel-body">
    <br>
	
	<div align='center' style='width:70%;margin-left:auto;margin-right:auto'>
	

	
	<div class="input-group">
	<span class="input-group-addon">Titulo</span>
	<input type="text" class="form-control" required placeholder="Titulo do projeto">
	</div>
	
<br>
	
	<div class="form-group">
  <label for="comment">Descrição</label>
  <textarea class="form-control" rows="5" required placeholder='Descrição do projeto' id="comment"></textarea>
</div>
	
<br>

	</div>
	
	<br>
  </div>
  <div class="panel-footer"><button>Cadastrar</button></div>
  
-->