<h1>Listing pesquisadores</h1>

<table>
  <thead>
    <tr>
      <th>Pesquisador nome</th>
      <th>Pesquisador cnpq</th>
      <th>Pesquisador contato</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pesquisadores.each do |pesquisador| %>
      <tr>
        <td><%= pesquisador.pesquisador_nome %></td>
        <td><%= pesquisador.pesquisador_cnpq %></td>
        <td><%= pesquisador.pesquisador_contato %></td>
        <td><%= link_to 'Show', pesquisador %></td>
        <td><%= link_to 'Edit', edit_pesquisador_path(pesquisador) %></td>
        <td><%= link_to 'Destroy', pesquisador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pesquisador', new_pesquisador_path %>
